#navbar {
    font-weight: 400;
}

::placeholder {
    color: lightgrey !important;    
}

body {
    /*background-color: #FAFAFA;*/
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #FFF0CC;
    background-image: url('/static/image/background.png');
    background-size: cover;
    background-position: center;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5vh;
    padding-bottom: 5vh;
    color: darkslategray;
}

h2 {
    font-weight: 400;
}

h5 {
    font-weight: 400;
}

.toggler-button {
    border: none;
}

.nav-bar-color {
    background-color: #E2F3DE
}

.logo-icon {
    font-size: 32px;
    padding: 7px;
    color: #000000;
}

.logo {
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    color: darkslategray;
    font-size: 2.5rem;
    font-weight: 700;
}

.logo:hover {
    text-decoration: none;
    color: darkslategray;
}

.logo-surrounding {
    padding: 0.5rem 1rem 0.5rem 0.8rem;
    border-radius: 2rem;
    text-align: center;
}

.form-container {
    width: 80vw;
    max-width: 500px;
    padding: 70px;
    border-radius: 4.5rem;
    background-color: #E2F3DE;
}

.form-label-l {
    font-weight: 400;
    font-size: 1.5rem;
}

.form-label-m {
    font-weight: 400;
    font-size: 1rem;
}

.form-input {
    border-radius: 1.5rem;
    background-color: #FAFAFA;
    font-weight: 400;
    border: none;
}

.form-button {
    border-radius: 1.5rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
    background-color: #B1E5DE;
    font-size: 1.5rem;
    font-weight: 400;
    border: none;
    color: darkslategray;
    width: 14rem;
}

.form-button:hover {
    background-color: #9CD4CD;
    text-decoration: none;
}

.text-medium {
    font-weight: 400;
}

.icon-gray {
    color: darkslategray;
}

.profile-img {
    border-radius: 50%;
}

.text-href {
    color: #F76EAB;
}

.text-href:hover {
    color: #AB3368;
}

.text-navbar {
    color: darkslategray !important;
}

input[type="file"] {
    display: none;
}

.file-input {
    border-radius: 1.5rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
    background-color: #B1E5DE;
    font-size: 1.5rem;
    font-weight: 400;
    border: none;
    color: darkslategray;
    width: 14rem;
    position: absolute;
    margin: auto;
    right: 0;
    left: 0;
}

.file-input:hover {
    background-color: #9CD4CD;
    text-decoration: none;
}