{% extends "layout.html" %}

{% block title %}
    Change password
{% endblock %}

{% block main %}
    <div class="form-container border">
        <div class="text-center">
            <label class="form-label-l"><h2>Change password</h2></label>
        </div>
        <form action="/change/password" method="post" id="login_form">
            <!-- Password -->
            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control form-input" name="password" placeholder="Current password" type="password" required>
            </div>

            <!-- New password -->
            <div class="form-group">
                <input class="form-control form-input" name="password" placeholder="New password" type="password" required>
            </div>

            <!-- Confirm new password -->
            <div class="form-group">
                <input class="form-control form-input" name="password" placeholder="Confirm new password" type="password" required>
            </div>

            <!-- Proceed -->
            <div class="text-center">
                <button class="form-button border" type="submit">Proceed</button>
            </div>
        </form>
    </div>
{% endblock %}