{% extends "layout.html" %}

{% block title %}
    Your account
{% endblock %}

{% block main %}
    <div class="form-container-large text-center">
        <div>
            <h2>Hello!<br>We would like to introduce you to <br><span class="logo-in-text">wish.me</span></h2>
            <h2>Are you ready to open the box?</h2>
            <!-- Image with gift box-->
            <div class="pt-3 pb-3">
                <img src="/static/image/wish-me-icon.svg" width="200" height="200">
            </div>
            
            
            <div class="btn-group" role="group">
                <!-- Button YES -->
                <span class="text-center pt-3 pb-3 inline">
                    <form class="text-center" action="/yes">
                        <input class="form-button" type="submit" value="Sure!" />
                    </form>
                </div>

                <!-- Button NO -->
                <div class="text-center inline">
                    <form class="text-center" action="/no">
                        <input class="form-button" type="submit" value="No (Not yet...)" />
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}