{% extends "layout.html" %}

{% block title %}
    Your account
{% endblock %}

{% block main %}
    <div class="form-container-large text-center">
        <div>
            <h3>OK, so you've picked the phone.<br>Just as we thought.<br>We can't guarantee you'll get that shiny tech, but with<br><span class="logo-in-text">wish.me</span></h3>
            <h3>your chances are getting tripled at least. Just join us, create a wishlist and share it with your friends or even computer-friendly grandma.</h3>

                <!-- Button Register -->
                <div class="text-center pt-3">
                    <form class="text-center" action="/register">
                        <input class="form-button" type="submit" value="Register" />
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}