{% extends "layout.html" %}

{% block title %}
    Your account
{% endblock %}

{% block main %}
    <div class="form-container-large text-center">
        <div>
            <h2>You can't be serious...<br>Socks over shiny smartphone?</h2>
            <!-- Image with socks-->
            <div class="pt-3 pb-3">
                <img src="/static/image/socks.svg" width="200" height="200">
            </div>
            
            
            <div class="btn-group" role="group">
                <!-- Button SOCKS -->
                <span class="text-center pt-3 pb-3 inline">
                    <form class="text-center" action="/no">
                        <input class="form-button" type="submit" value="I'll take the socks" />
                    </form>
                </div>

                <!-- Button MISCLICK -->
                <div class="text-center inline">
                    <form class="text-center" action="/yes/yes">
                        <input class="form-button" type="submit" value="Misclick, sorry..." />
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}