{% extends "layout.html" %}

{% block title %}
    Your account
{% endblock %}

{% block main %}
    <div class="form-container-large text-center">
        <div>
            <h2>OK then...<br>Just imagine it's christmas again. If you could suggest what should be waiting for you in the gift box, which one would you pick?</h2>
            <!-- Image with gift box-->
            <div class="pt-3">
                <a href="/yes/yes"><img src="/static/image/socks.svg" class="image-quiz position-relative" width="200" height="200"></a>
                <a href="/yes/no"><img src="/static/image/iphone.svg" class="image-quiz position-relative" width="200" height="200"></a>
            </div>
        </div>
    </div>
{% endblock %}