{% extends "layout.html" %}

{% block title %}
    Your account
{% endblock %}

{% block main %}
    <div class="form-container">
        <div class="text-center pb-4">
            <img class="profile-img" src="../static/image/{{ image_source }}">
        </div>
        
        <!-- Name and surname -->
        <div class="form-group">
            <div class="text-center">
                <h2>{{ name }} {{ surname }}'s</h2>
                <h2>Wishlist</h2>
            </div>
        </div>
        
        {% for record in wishlist %}
            <div class="pb-3">
                <div class="wishlist-item-container">
                    <div class="form-group text-center pt-3">
                        <p>{{ wishlist[loop.index-1]['wish'] }}</p>
                        <input class="delete-form-no-display" name="delete-item" value="{{ wishlist[loop.index-1]['wish'] }}">
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}